.popup__container-input-error {
    margin: 0;
    padding: 0;
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: translate(0, 100%);
    z-index: 1;
}